
<launch>
     <!-- Argus48  /point_raw    velodyne   /velodyne_points -->
  <param name="lidar_topic" value="/point_raw"  type="str"/>
  <param name="leaf_size" value="0.1" />


  <node pkg="Lidar_process" type="main_node" name="main_node" output="screen">
 
	  <remap from="/obstCloud" to="/filtered_points_no_ground"/>
   </node>
  
   <!--<node name="playbag" pkg="rosbag" type="play"
        args="/home/zhang/Lidar_ws/data/dacheng3.bag" />-->
   <node name="playbag" pkg="rosbag" type="play"
        args="/home/zhang/Lidar_ws/data/2019-09-04-13-09-31.bag" /> 

  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/zhang/Lidar_ws/Lidar_detection.rviz" />


</launch>

